* {
  padding: 0;
  border: 0;
  margin: 0;
}

///////////////////////
////////COLORES////////
///////////////////////

$negrofondo: #791214;
$lightyellow: #fffaec;
$azul: #358ccb;
$negrofondo: #1e1e1e;
$celeste: #7bdcf0;  
$naranja:  #cc8d7b;  
$gris: #707070;

///////////////////////
///////TIPOGRAFIAS/////
///////////////////////

$inconsolata: 'Inconsolata', monospace;
$montserrat: 'Montserrat', sans-serif;
$bench: "BenchNine", sans-serif;
$bold: 300;

///////////////////////
////////ESTILOS////////
///////////////////////

.subtitulo {
  .textosubtitulo {
    text-align: center;
    color: $negrofondo;
    font-family: $bench;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.contenedorlinks {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  .contenedorlink {
    cursor: pointer;
    background-color: $negrofondo;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
    i {
      margin-right: 0.5em;
      height: 100%;
    }
    a {
      font-family: $montserrat;
      text-decoration: none;
      font-size: 1em;
      font-weight: 400;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.texto {
  margin: 12px;
  text-align: justify;
  text-justify: inter-word;
  font-family: $montserrat;
  font-size: 1em;
  font-weight: 300;
  color: $negrofondo;
}