html {
  scroll-behavior: smooth;
}

body {
  background-color: $negrofondo;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */

  -ms-hyphens: auto;          /* Guiones para separar en sílabas */
  -moz-hyphens: auto;         /*  depende de lang en <html>      */
  -webkit-hyphens: auto;
  hyphens: auto;
}

///////////////////////
/////////FOOTER////////
///////////////////////

footer{
  width: 90%;
height: 2em;
display: flex;
justify-content: space-between;
align-items: center;
.boton_gototop{
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.5;
  .flecha_contenedor {
    .fas {
      color: $lightyellow;
      font-size: 1em;
      margin: 0 1vw;
    }
  }
  h6 {
    color: $lightyellow;
    font-family: $bench;
    font-size: 0.8em;
    margin: 0 1vw;
  }
  &:hover {
    opacity: 1;
  }
}
.copyright {
  opacity: 0.5;
      color: $lightyellow;
    font-family: $bench;
    font-size: 0.8em;
}

}