/////////////////////////////////////////////
///////////                        //////////
///////////         600            //////////
///////////                        //////////
/////////////////////////////////////////////
@media only all and (min-width: 330px) {
  .presentacion_contenedor {
    .redes_contenedor {
      .contenedor_logo_presentacion {
        h4 {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media only all and (min-width: 600px) {
  .comienzo_contenedor {
    .comienzotexto_contenedor {
      .textopredeterminado {
        transform: translateY(75%);
        position: relative;
        width: 50%;
        height: 50%;
      }
    }
  }

  .proyectos_contenedor {
    .proyectocontenedor {
      .contenidoproyecto {
        .contenedorgifproyecto {
          .videoOpacity {
            //REVISAR
            height: 20%; // CAMBIO
            width: 20%; // CAMBIO
            .fa-play {
              font-size: 4.5vw; // CAMBIO
            }
          }
        }
        .info_proyecto {
          .tecnologiasutilizadas {
            img {
              width: 7%;
            }
          }
        }
      }
    }
  }

  .subtitulo {
    .textosubtitulo {
      font-size: 2.5em;
    }
  }

  .aboutme_contenedor {
    .contenido_aboutme {
      //CAMBIO
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .vectorialprb_contenedor {
        .circulocontenedor {
          //CAMBIO
          width: 40vw;
          height: 40vw;
          margin-right: 1em;
        }
      }
      .contenedor_linksytexto {
        //CAMBIO
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contenedorlinks {
          .contenedorlink {
            margin: 0 0;
          }
        }
      }
    }
  }

  .mainbody {
    .proyectos_contenedor {
      .proyectocontenedor {
        .contenidoproyecto3 {
          .contenedorgifproyecto3 {
            .videoOpacity {
              height: 20%;
              p {
                padding: 0 1em;
              }
            }
          }
        }
      }
    }
  }

  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 80vw;
  }
}

/////////////////////////////////////////////
///////////                        //////////
///////////          768           //////////
///////////                        //////////
/////////////////////////////////////////////

@media only all and (min-width: 768px) {
  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 50vw;
  }

  .proyectos_contenedor {
    .proyectocontenedor {
      .contenidoproyecto {
        .contenedorgifproyecto {
          .videoOpacity {
            //REVISAR
            height: 20%; // CAMBIO
            width: 20%; // CAMBIO
            .fa-play {
              font-size: 4.5vw; // CAMBIO
            }
          }
        }
        .info_proyecto {
          .tecnologiasutilizadas {
            img {
              width: 7%;
            }
          }
        }
      }
    }
  }

  .mainbody {
    .proyectos_contenedor {
      .proyectocontenedor {
        .contenidoproyecto3 {
          .contenedorgifproyecto3 {
            .videoOpacity {
              height: 20%;
            }
          }
        }
      }
    }
  }

  .contacto_contenedor {
    .contenedorBotonyTextoContacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      .logoytexto_contenedor {
        width: 65vw;
      }
      .emailboton_contenedor {
        width: 65vw; //cambio
        .email {
          margin: 0 0.5em;
        }
        .botoncopiar {
          margin: 0 0.5em;
        }
        .textoCopiado {
          width: 60%; //cambio
        }
      }
    }
  }
}

/////////////////////////////////////////////
///////////                        //////////
///////////          1000          //////////
///////////                        //////////
/////////////////////////////////////////////

@media only all and (min-width: 1000px) {
  .proyectos_contenedor {
    .proyectocontenedor {
      margin-bottom: 4em; //CAMBIO
      .contenidoproyecto {
        flex-direction: column; //CAMBIO
        align-items: center; // CAMBIO
        .contenedorgifproyecto {
          width: 65vw; // CAMBIO
          .videoOpacity {
            height: 15%; // CAMBIO
            width: 15%; // CAMBIO
            .fa-play {
              font-size: 3vw; // CAMBIO
            }
          }
        }
        .info_proyecto {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 55vw;
          .proyectonombrecontenedor {
            width: 95%; //CAMBIO
            border-radius: 0 0 8px 8px; ///CAMBIO
            // padding-left: 12%; ///SE AGREGO
          }
          .tecnologiasutilizadas {
            width: 90%;
            img {
              width: 8%;
            }
          }
        }
      }
    }
  }
  .mainbody {
    .proyectos_contenedor {
      .proyectocontenedor {
        .contenidoproyecto3 {
          .contenedorgifproyecto3 {
            .videoOpacity {
              height: 15%;
            }
          }
        }
      }
    }
  }

  .aboutme_contenedor {
    .contenido_aboutme {
      .vectorialprb_contenedor {
        .circulocontenedor {
          //CAMBIO
          width: 25vw;
          height: 25vw;
          margin-right: 2em;
        }
      }
      .contenedor_linksytexto {
        //CAMBIO
        max-width: 35vw;
        .contenedorlinks {
          .contenedorlink {
            margin: 0 2vw;
          }
        }
      }
    }
  }

  .contacto_contenedor {
    .contactonombre_contenedor {
      margin-bottom: 1.5em;
    }
    .contenedorBotonyTextoContacto {
      display: flex;
      flex-direction: row; //cambio
      justify-content: center;
      align-items: center;
      .logoytexto_contenedor {
        width: 40vw; //cambio
        margin-right: 1em;
        margin-top: 0;
      }
      .emailboton_contenedor {
        margin: 0 0 0 1em;
        width: 40vw; //cambio
        .email {
          margin: 0 1em;
        }
        .botoncopiar {
          margin: 0 1em;
        }
        .textoCopiado {
          width: 35%; //cambio
        }
      }
    }
  }
}

/////////////////////////////////////////////
///////////                        //////////
///////////          1300          //////////
///////////                        //////////
/////////////////////////////////////////////

@media only all and (min-width: 1300px) {
  ///////////////////////
  ///////PROYECTOS///////
  ///////////////////////

  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 35vw;
  }

  .proyectos_contenedor {
    .proyectocontenedor {
      .contenidoproyecto {
        flex-direction: row; //CAMBIO
        align-items: center; // CAMBIO
        .contenedorgifproyecto {
          min-width: 45vw; // CAMBIO
          .videoOpacity {
            height: 12%; // CAMBIO
            width: 12%; // CAMBIO
            .fa-play {
              font-size: 1.5vw; // CAMBIO
            }
          }
        }
        .info_proyecto {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 2em; // SE AGREGO
          .proyectonombrecontenedor {
            width: 100%; //CAMBIO
            border-radius: 8px 8px 8px 8px; ///CAMBIO
            // padding-left: 12%; ///SE AGREGO
          }
          .tecnologiasutilizadas {
            img {
              width: 12%;
            }
          }
        }
      }
    }
  }
  // PROYECTO EN CONSTRUCCION
  // .mainbody {
  //   .proyectos_contenedor {
  //     .proyectocontenedor {
  //       .contenidoproyecto3 {
  //         .contenedorgifproyecto3 {
  //           .videoOpacity {
  //             height: 12%;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .aboutme_contenedor {
    .contenido_aboutme {
      margin-bottom: 3em;
      .vectorialprb_contenedor {
        .circulocontenedor {
          //CAMBIO
          width: 20vw;
          height: 20vw;
          margin-right: 3em;
        }
      }
      .contenedor_linksytexto {
        //CAMBIO
        max-width: 30vw;
      }
    }
  }

  .contacto_contenedor {
    .contenedorBotonyTextoContacto {
      .logoytexto_contenedor {
        width: 30vw; //cambio
        margin-right: 1em;
        margin-top: 0;
      }
      .emailboton_contenedor {
        margin: 0 0 0 1em;
        width: 30vw; //cambio
        .email {
          margin: 0 1em;
        }
        .botoncopiar {
          margin: 0 1em;
        }
        .textoCopiado {
          width: 25%; //cambio
        }
      }
    }
  }
}

/////////////////////////////////////////////
///////////                        //////////
///////////          1440          //////////
///////////                        //////////
/////////////////////////////////////////////

@media only all and (min-width: 1440px) {
  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 35vw;
  }

  .proyectos_contenedor {
    .proyectocontenedor {
      .contenidoproyecto {
        .contenedorgifproyecto {
          min-width: 40vw; // CAMBIO
          .videoOpacity {
            height: 10%; // CAMBIO
            width: 10%; // CAMBIO
            .fa-play {
              font-size: 1.2vw; // CAMBIO
            }
          }
        }
        .info_proyecto {
          width: 45vw;
        }
      }
    }
  }
  .mainbody {
    .proyectos_contenedor {
      .proyectocontenedor {
        .contenidoproyecto3 {
          .contenedorgifproyecto3 {
            .videoOpacity {
              height: 10%;
            }
          }
        }
      }
    }
  }
  .aboutme_contenedor {
    .contenido_aboutme {
      margin-bottom: 2em;
      .vectorialprb_contenedor {
        .circulocontenedor {
          //CAMBIO
          width: 18vw;
          height: 18vw;
          margin-right: 4em;
        }
      }
      .contenedor_linksytexto {
        //CAMBIO
        max-width: 25vw;
      }
    }
  }
  .contacto_contenedor {
    .contenedorBotonyTextoContacto {
      .logoytexto_contenedor {
        width: 25vw; //cambio
        margin-right: 1em;
        margin-top: 0;
      }
      .emailboton_contenedor {
        margin: 0 0 0 1em;
        width: 25vw; //cambio
        .textoCopiado {
          width: 20%; //cambio
        }
      }
    }
  }
}
