/////////////////////////////////////
///////////////TABLETS///////////////
/////////////////////////////////////

@media only all and (min-width: 600px) {
  .comienzo_contenedor {
    .comienzotexto_contenedor {
      .textopredeterminado {
        transform: translateY(75%);
        position: relative;
        width: 50%;
        height: 50%;
      }
    }
  }

  .subtitulo {
    .textosubtitulo {
      font-size: 2.5em;
    }
  }

  .aboutme_contenedor {
    .contenido_aboutme {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .vectorialprb_contenedor {
        .circulocontenedor {
          width: 40vw;
          height: 40vw;
          margin-right: 1em;
        }
      }
      .contenedor_linksytexto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contenedorlinksaboutme {
          display: flex;
          justify-content: space-around;
          margin: 0 0 1em 0;
          .contenedorlink {
            padding: 0.5em 0.5em;
            margin: 0 0;
          }
        }
      }
    }
  }
  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 80vw;
  }
}

/////////////////////////////////////
///////////////DESKTOP///////////////
/////////////////////////////////////

@media only all and (min-width: 768px) {
  %separador_animacion {
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 50vw;
  }
}

@media only all and (min-width: 1000px) {
  .proyectos_contenedor {
    .proyectocontenedor {
      margin-bottom: 4em; //CAMBIO
      .contenidoproyecto {
        flex-direction: row; //CAMBIO
        align-items: center; // CAMBIO
        .contenedorgifproyecto {
          min-width: 45vw; // CAMBIO
          .videoOpacity {
            //REVISAR
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            opacity: 0;
            height: 30%;
            width: 30%;
            background-color: $negrofondo;
            border-radius: 15px;
            .fa-play {
              opacity: 0.5;
              color: $lightyellow;
              font-size: 5vw;
            }
          }
          .preview {
            height: 100%;
            width: 100%;
            border-radius: 15px;
          }
        }
        .info_proyecto {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 2em; // SE AGREGO
          .proyectonombrecontenedor {
            width: 100%; //CAMBIO
            border-radius: 8px; ///CAMBIO
            // padding-left: 12%; ///SE AGREGO
          }
          .tecnologiasutilizadas {
            i {
              font-size: 1.5em; //OJO
            }
          }
        }
      }
    }
  }
}

@media only all and (min-width: 1300px) {
  ///////////////////////
  ///////PROYECTOS///////
  ///////////////////////

  .proyectos_contenedor {
    .proyectocontenedor {
      .contenidoproyecto {
        .contenedorgifproyecto {
          min-width: 55vw; // CAMBIO
        }
      }
    }
  }
}
